header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;


    @media screen and (max-width:768px) {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0rem;
    }

}

.header_img_logo {
    width: 211px;
    height: auto;

    @media screen and (max-width:768px) {
        width: 135px;

    }
}