footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 66px 0 58px;

    @media screen and (max-width: 768px) {
        width: 116%;
        height: 209px;
        margin-left: -2.48rem;

    }

    img {
        margin-bottom: 29px;

        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
            margin-top: 4rem;
        }
    }

    p {
        margin: auto;
        max-width: 300px;

        @media screen and (max-width: 768px) {
            max-width: 134px;
        }
    }



}