footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 66px 0 58px;

    @media screen and (max-width: 768px) {
        width: 116%;
        height: 150%;
        margin-left: -2.48rem
    }

    img {
        margin-bottom: 29px;

        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    p {
        margin: auto;
        max-width: 300px;

        @media screen and (max-width: 768px) {
            max-width: 134px;
        }
    }

    @media screen and (min-width:768px) {
        padding: 66px 0 29px;
    }

}