.accomodation_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.accomodation {

    &_content {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;


        @media screen and (max-width: 768px) {

            flex-direction: column;


        }

        &_infos {
            display: flex;
            flex-direction: column;



            h1 {
                color: #FF6060;
                font-weight: 500;
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 0;
                font-style: normal;

                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                }
            }

            p {
                font-weight: 500;
                font-size: 1.5rem;
                font-style: normal;

                @media screen and (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }

            button {
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: #fff;
                background-color: #FF6060;
                font-size: clamp(10px, 1.4vw, 14px);

                @media screen and (max-width: 768px) {
                    padding: 3px 9px;
                }


            }

            div {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }

        &_host {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @media screen and (max-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

            div {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 10px;
                font-size: clamp(12px, 1.6vw, 18px);
                margin-top: 1rem;

                @media screen and (max-width: 768px) {
                    gap: 0 5px;
                    margin-top: 1rem;
                }
            }

            &_name {
                align-self: center;
                flex-direction: column;
                color: #FF6060;
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;

                @media screen and (max-width: 768px) {
                    height: 35px;
                    width: 35px;
                }
            }

            &_stars {
                display: flex;
                gap: 10px;


                img {
                    width: 30px;
                    height: 30px;

                    @media screen and (max-width: 768px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.accomodation_dropdown {
    position: relative;
    display: flex;
    flex-direction: row;

    margin-top: 1.5rem;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    margin-left: -15rem;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0;
    }

    &_item {
        width: 100%;
        cursor: pointer;
    }

    &_container {
        width: 100%;
    }
}