.Error404 {
    max-width: 95%;
    max-height: 1213px;
    margin-bottom: 7rem;
    color: #FF6060;

    &_infos {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_title {
            font-weight: 700;
            font-size: 200px;

            @media screen and (max-width: 768px) {
                font-size: 140px;
            }
        }

        &_content {
            font-weight: 500;
            font-size: 36px;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 26.5px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &_return {
            position: relative;
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 5rem;

            &:hover {
                border-bottom-color: #FF6060;
                border-bottom-width: 2px;
                border-bottom-style: solid;
            }

        }
    }
}

a {

    color: black;

}