.banner,
.banner_about {
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 0 2px #f6f6f6;
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;
    width: 90%;
    margin: 43px auto;
    filter: brightness(70%);


    @media screen and (max-width: 768px) {
        margin: 20px auto;
        height: 120px;
        justify-content: center;
    }

}


.banner_img {
    border-radius: 10px;
    width: 100%;
    height: 111px;
    object-fit: cover;
    filter: brightness(70%);


}

.banner_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    filter: drop-shadow(1px 1px 0 #000) drop-shadow(-1px -1px 0 #000);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    z-index: 2;

    @media screen and (max-width: 768px) {
        font-size: 35px;
        text-align: start;
        left: 35%;
        top: 35%;
    }
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../banner/ImageHome.png');

    &_about {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../banner/ImageAbout.jpg');
    }
}